# 정렬

In [16]:
from sklearn.datasets import load_boston

data = load_boston()
data

df = pd.DataFrame(
    data['data'], columns=data.feature_names
)
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

# 선택정렬

In [18]:
# 선택정렬 
def selection_sort(A) : 
    n = len(A) #정렬 안 된 원소 개수 
    for i in range(n-1) : # 오른쪽 리스트 첫번째 값 
        minimum = i 
        for j in range(i+1, n) : 
            if A[j] < A[minimum] : 
                minimum = j 
        A[i], A[minimum] = A[minimum], A[i] # 오른쪽 리스트 첫번째 값 - 최솟값 교환 
        printStep(A, i+1) # 정렬 결과 출력

In [19]:
def printStep(arranged, loop) : 
    print(f'{loop}번째 루프 정렬 결과 =', end=' ')
    print(arranged)

In [20]:
data = [5,3,8,4,9,1,6,2,7]
print('정렬 전:', data)
selection_sort(data)
print()
print('선택정렬 후', data)

정렬 전: [5, 3, 8, 4, 9, 1, 6, 2, 7]
1번째 루프 정렬 결과 = [1, 3, 8, 4, 9, 5, 6, 2, 7]
2번째 루프 정렬 결과 = [1, 2, 8, 4, 9, 5, 6, 3, 7]
3번째 루프 정렬 결과 = [1, 2, 3, 4, 9, 5, 6, 8, 7]
4번째 루프 정렬 결과 = [1, 2, 3, 4, 9, 5, 6, 8, 7]
5번째 루프 정렬 결과 = [1, 2, 3, 4, 5, 9, 6, 8, 7]
6번째 루프 정렬 결과 = [1, 2, 3, 4, 5, 6, 9, 8, 7]
7번째 루프 정렬 결과 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
8번째 루프 정렬 결과 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

선택정렬 후 [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 삽입정렬

In [5]:
# 삽입정렬 알고리듬 정의 
def insertion_sort(A) : 
    n = len(A)
    for i in range(1, n) : 
        key = A[i] # 정렬 안 된 부분 가장 왼쪽 원소
        j = i-1
        # 비교 - 이동 조건 만족하는 한 반복 
        while j >= 0 and A[j] > key : # 비교 
            A[j+1] = A[j]
            j = j-1
        A[j+1] = key # 삽입 
        printStep(A, i)

In [6]:
# i번째 루프. 정렬 결과 출력 정의
def printStep(arr, loop) : 
    print(f'{loop}번째 루프. 정렬 결과:', end=' ')
    print(arr)

In [7]:
# 알고리듬 테스트 
data = [5,3,8,4,9,1,6,2,7]

print('정렬 전:', data)
insertion_sort(data)
print('삽입 정렬 종료 결과:', data)

정렬 전: [5, 3, 8, 4, 9, 1, 6, 2, 7]
1번째 루프. 정렬 결과: [3, 5, 8, 4, 9, 1, 6, 2, 7]
2번째 루프. 정렬 결과: [3, 5, 8, 4, 9, 1, 6, 2, 7]
3번째 루프. 정렬 결과: [3, 4, 5, 8, 9, 1, 6, 2, 7]
4번째 루프. 정렬 결과: [3, 4, 5, 8, 9, 1, 6, 2, 7]
5번째 루프. 정렬 결과: [1, 3, 4, 5, 8, 9, 6, 2, 7]
6번째 루프. 정렬 결과: [1, 3, 4, 5, 6, 8, 9, 2, 7]
7번째 루프. 정렬 결과: [1, 2, 3, 4, 5, 6, 8, 9, 7]
8번째 루프. 정렬 결과: [1, 2, 3, 4, 5, 6, 7, 8, 9]
삽입 정렬 종료 결과: [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 버블정렬

In [11]:
# 버블 정렬 알고리듬 정의 

def bubble_sort(A) : 
    n = len(A) # 정렬 안 된거 개수 
    # 버블정렬 반복 루프(최대 n-1 번 반복)
    for i in range(n-1, 0, -1) : 
        change_happened = False
        for j in range(i) : 
            if A[j] > A[j+1] : # 비교 
                A[j], A[j+1] = A[j+1], A[j] # 교환
                change_happened = True 
        if not change_happened : 
            break # 버블정렬 루프에서 유의미한 정렬 발생 안 했으면 루프 종료 (이미 정렬 완료됨)
        printStep(A, n-i) # 이번 루프 정렬 결과 출력

In [12]:
# 루프 정렬 결과 출력 정의 

def printStep(arr, loop) : 
    print(f'{loop}번째 루프:', end='')
    print(arr)

In [14]:
# 알고리듬 테스트 #1

data = [5,3,8,1,2,7]

print('정렬 전:', data)
bubble_sort(data)
print('정렬 후:', data)

정렬 전: [5, 3, 8, 1, 2, 7]
1번째 루프:[3, 5, 1, 2, 7, 8]
2번째 루프:[3, 1, 2, 5, 7, 8]
3번째 루프:[1, 2, 3, 5, 7, 8]
정렬 후: [1, 2, 3, 5, 7, 8]

In [15]:
# 알고리듬 테스트 # 2

data = [5,3,8,4,9,1,6,2,7]

print('정렬 전:', data)
bubble_sort(data)
print('정렬 후:', data)

정렬 전: [5, 3, 8, 4, 9, 1, 6, 2, 7]
1번째 루프:[3, 5, 4, 8, 1, 6, 2, 7, 9]
2번째 루프:[3, 4, 5, 1, 6, 2, 7, 8, 9]
3번째 루프:[3, 4, 1, 5, 2, 6, 7, 8, 9]
4번째 루프:[3, 1, 4, 2, 5, 6, 7, 8, 9]
5번째 루프:[1, 3, 2, 4, 5, 6, 7, 8, 9]
6번째 루프:[1, 2, 3, 4, 5, 6, 7, 8, 9]
정렬 후: [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 쉘 정렬

In [24]:
# 쉘 정렬 정의

def shell_sort(A): 
    h = 3 # 간격 
    while h >= 1 : 
        for i in range(h, len(A)) : # 부분리스트 정렬 
            j = i # 부분리스트에서 정렬 안 된 부분 가장 왼쪽 원소 
            while (j-h >= 0) and (A[j]<A[j-h]) : # 비교-이동-삽입 반복
                # j 앞에 어떤 값 있고 and 그 값이 오름차순 만족 안 하면 
                A[j], A[j-h] = A[j-h], A[j] 
                j = j-h
        printStep(A,h) # h에서 정렬 결과 출력 
        h = h//2 # 간격 조정

In [25]:
# 결과 출력 정의 

def printStep(arr, h): 
    print(f'간격 {h} 일 때 쉘 정렬 결과: {arr}')

In [27]:
data = [5,3,8,4,9,1,6,2,7]

print(f'쉘 정렬 전: {data}')
shell_sort(data)
print(f'쉘 정렬 후: {data}')

쉘 정렬 전: [5, 3, 8, 4, 9, 1, 6, 2, 7]
간격 3 일 때 쉘 정렬 결과: [4, 2, 1, 5, 3, 7, 6, 9, 8]
간격 1 일 때 쉘 정렬 결과: [1, 2, 3, 4, 5, 6, 7, 8, 9]
쉘 정렬 후: [1, 2, 3, 4, 5, 6, 7, 8, 9]