# 정렬

In [16]:
from sklearn.datasets import load_boston

data = load_boston()
data

df = pd.DataFrame(
    data['data'], columns=data.feature_names
)
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

# 선택정렬

In [18]:
# 선택정렬 
def selection_sort(A) : 
    n = len(A) #정렬 안 된 원소 개수 
    for i in range(n-1) : # 오른쪽 리스트 첫번째 값 
        minimum = i 
        for j in range(i+1, n) : 
            if A[j] < A[minimum] : 
                minimum = j 
        A[i], A[minimum] = A[minimum], A[i] # 오른쪽 리스트 첫번째 값 - 최솟값 교환 
        printStep(A, i+1) # 정렬 결과 출력

In [19]:
def printStep(arranged, loop) : 
    print(f'{loop}번째 루프 정렬 결과 =', end=' ')
    print(arranged)

In [20]:
data = [5,3,8,4,9,1,6,2,7]
print('정렬 전:', data)
selection_sort(data)
print()
print('선택정렬 후', data)

정렬 전: [5, 3, 8, 4, 9, 1, 6, 2, 7]
1번째 루프 정렬 결과 = [1, 3, 8, 4, 9, 5, 6, 2, 7]
2번째 루프 정렬 결과 = [1, 2, 8, 4, 9, 5, 6, 3, 7]
3번째 루프 정렬 결과 = [1, 2, 3, 4, 9, 5, 6, 8, 7]
4번째 루프 정렬 결과 = [1, 2, 3, 4, 9, 5, 6, 8, 7]
5번째 루프 정렬 결과 = [1, 2, 3, 4, 5, 9, 6, 8, 7]
6번째 루프 정렬 결과 = [1, 2, 3, 4, 5, 6, 9, 8, 7]
7번째 루프 정렬 결과 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
8번째 루프 정렬 결과 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

선택정렬 후 [1, 2, 3, 4, 5, 6, 7, 8, 9]