In [11]:
import pandas as pd
import re

In [9]:
df = pd.read_csv('/Users/kibeomkim/Desktop/웹크롤링_결과_데이터/2021-03-28-21-12-01-청와대 국민청원 데이터/2021-03-28-21-12-01-청와대 국민청원 데이터.csv',index_col=None)

In [27]:
df.head()

,청원제목,참여인원,카테고리분류,청원시작일자,청원종료일자,청원내용
0,JTBC의 드라마 설**의 촬영을 중지시켜야합니다.,106893,문화/예술/체육/언론,2021-03-26,2021-04-25,"조선구마사같은 이기적인 수준을 넘어선 작품이,두번째로 나오기 직전입니다.설**.민주..."
1,"시속 80km 차에 목매달린 개, 뭉개진 네 발 보랏빛 피투성이된 동물 학대 엄중한...",10496,반려동물,2021-03-26,2021-04-25,2021년 3월 7일 오전 10시 38분경 경상북도 상주시 모서면 국도상에서 차량 ...
2,세무서의 가산세 유예기간 및 고금리를 저금리로 조정을 청원합니다,224,행정,2021-03-26,2021-04-25,금천구 가산동에서 소규모 자영업을 하고있습니다2019년 말경 코로나 사태 발발시점에...
3,대한축구협회 폐지,2379,문화/예술/체육/언론,2021-03-26,2021-04-25,이번 한일전 무리한일정을 잡고 그것도 모자라 태극기와 일장기를 나란히 붙인유니폼을 ...
4,축구 협회 개혁 해야 하고 벤투 감독도 경질 해야 합니다!!!!,1758,문화/예술/체육/언론,2021-03-26,2021-04-25,오늘 한일 전 경기 보고 알았습니다. 한국과 일본의 축구 수준 차이를요. 이제 더이...

In [19]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [26]:
df2 = df[['참여인원','카테고리분류']]
df2.head(8)

     참여인원       카테고리분류
0  106893  문화/예술/체육/언론
1   10496         반려동물
2     224           행정
3    2379  문화/예술/체육/언론
4    1758  문화/예술/체육/언론
5    3287     외교/통일/국방
6    3530         반려동물
7    1390          일자리

In [32]:
df2_pivot = df2.pivot(columns='카테고리분류',values='참여인원')

In [66]:
col_list = list(df2_pivot.columns)
list1 = []
for i in col_list : 
    col_sum = df2_pivot[i].sum()
    list1.append(col_sum)

In [74]:
sum = pd.DataFrame([list1],
            columns=df2_pivot.columns)

In [80]:
sum = sum.astype('int64')

In [94]:
petition = sum.melt(var_name='청원카테고리',value_name='총계')

In [102]:
petition.drop_duplicates(inplace=True)
petition.head() #tidy_data

        청원카테고리      총계
0     교통/건축/국토    1721
1           기타    6865
2         농산어촌    1241
3  문화/예술/체육/언론  247550
4           미래     293

In [105]:
petition.sort_values('청원카테고리', inplace=True)

In [116]:
petition.nlargest(5,'총계').reset_index(drop=True)

        청원카테고리      총계
0  문화/예술/체육/언론  247550
1         반려동물   14746
2           기타    6865
3        육아/교육    6281
4     외교/통일/국방    5865

In [125]:
petition.nsmallest(5,'총계').reset_index(drop=True)

     청원카테고리    총계
0        미래   293
1      성장동력   402
2      농산어촌  1241
3       일자리  1625
4  교통/건축/국토  1721