In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 식별자 - 주변 속성 잘 구분하자. 
# 하나의 표에는 하나의 관측단위만 들어가자.

# tidy data의 의의 : 데이터 전처리 시간을 줄이자. + 데이터 분석 시간을 줄이자

In [ ]:
df = pd.DataFrame({
    'Treatment A' : [None, 16,3],
    'Treatment B' : [2,11,1]},
index=['John Smith','Jane Doe','Mary Johnson'])
df

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.rename(mapper={'index':'Name'},axis=1,inplace=True)

In [ ]:
df_clean = df.melt(id_vars='Name', var_name='Treatment',value_name='Result')
df_clean

In [ ]:
t_list = list(df_clean['Treatment'])
t_list_mo = []
for i in t_list : 
    i_mo = i.replace('Treatment', "").strip()
    t_list_mo.append(i_mo)

In [ ]:
df_clean['Treatment'] = t_list_mo

In [ ]:
df_clean #깔끔한 상태

# 지저분한 데이터 처리하기 -1

# 깔끔한 데이터의 기본 공리 3
- 변수는 무조건 칼럼에 들어가야 한다. 
- 한 개 표에는 한 개 관측단위만 들어가야 한다.
- 여러 표로 나뉘어 있는 경우 표들은 필히 한 개 이상의 column 공유해야 한다

In [ ]:
df2 = pd.DataFrame([[27,34,60,81,76,137],
                   [12,27,37,52,35,70],
                   [27,21,30,34,33,58],
                   [418,617,732,670,638,1116],
                   [15,14,15,11,10,35],
                   [575,869,1064,982,881,1486],
                   [1,9,7,9,11,34],
                   [228,244,236,238,197,223],
                   [20,27,24,24,21,30],
                   [19,19,25,25,30,95]],
                  columns=['10k','10k~20k','20k~30k','30k~40k','40k~50k','50k~70k'],
                  index=['agnostic','athest','buddhist','catholic','dont know/refused','evan','hindu','historical','jehovahs','jewish'])

In [ ]:
df2.reset_index(inplace=True)

In [ ]:
df2.rename(mapper={'index':'religion'}, axis=1,inplace=True)

In [ ]:
df2

In [ ]:
df2 = df2.melt(id_vars='religion',var_name='range',value_name='income')

In [ ]:
df2.sort_values('religion', inplace=True)

In [ ]:
df2.head(n=10) #변수는 모두 칼럼으로, 값은 row로, 관측단위는 하나

# 지저분한 데이터 정리하기 -2 빌보드 데이터

# 문제점 
- 변수에 값이 들어가 있다. 
- null값이 너무 많다.
- 값 단위가 실수/정수 다르다. 
- 곡 정보라는 관측단위 하나, 곡 성적이라는 관측단위 하나 == 관측단위가 두개 들어가 있다 분리해야 한다. <-- 여러 표로 나뉠 경우 최소 한 개 열은 공유되어야 한다.

# 다양한 변수가 하나의 열에 있는 경우 - 3

# 깔끔한 데이터 특징 : 
- 표기가 일관되어야 한다. (0만 쓰던지 None만 쓰던지)

# 각 열 변수 이름은 하나의 속성만을 담고 있어야 한다. 
# m5564 이런 식이면 안 된다(남성+나이) --> 성별 따로, 나이 따로 이렇게 가야 한다.

- 변수 이름에 두개 속성이 들어가 있다는 문제가 있다. 
- 변수 이름에 변수가 아니라 값이 들어가 있다는 문제가 있다.

In [ ]:
who = pd.DataFrame([['AD', 2000,0.0, 0.0, 1.0, 0.0, 0, 0, 0.0, None, None],
                   ['AE', 2000, 2.0, 4.0, 4.0, 6.0, 5, 12, 10.0, None, 3.0],
                   ['AF', 2000,52.0, 228.0, 183.0, 149.0, 129, 94, 80.0, None, 93.0],
                   ['AG', 2000,0.0,0.0,0.0,0.0,0,0,1.0,None, 1.0],
                   ['AL',2000,2.0,19.0,21.0,14.0,24,19,16.0, None,3.0],
                   ['AM',2000,2.0,152,130.0,131.0,63,26,21.0,None,1.0],
                   ['AN',2000,0.0,0.0,1.0,2.0,0,0,0.0,None,0.0],
                   ['AO',2000,186.0,999.0,1003.0,912.0,482,312,194.0,None,247.0],
                   ['AR',2000,97.0,278.0,594.0,402.0,419,368,330.0,None,121.0],
                   ['AS',2000,None,None,None,None,1,1,None,None,None]],
                  columns=['country','year','m014','m1524','m2534','m3544','m4554','m5564','m65','mu','f014'])
who

In [ ]:
who_melted = who.melt(id_vars=['country','year'],var_name='sex and age',value_name='case')

In [ ]:
tmp_df = who_melted['sex and age'].str.extract('(\D)(\d+)(\d{2})',expand=False)

In [ ]:
tmp_df

In [ ]:
tmp_df.columns = ['sex', 'age_lower','age_upper']

In [ ]:
tmp_df

In [ ]:
tmp_df['age'] = tmp_df['age_lower'] +'-'+ tmp_df['age_upper']

In [ ]:
who_melted = pd.concat([who_melted,tmp_df],axis=1)

In [ ]:
who_melted2 = who_melted[['country','year','case','sex','age']]

In [ ]:
who_melted2.dropna(inplace=True)

In [ ]:
who_melted2.sort_values(['country','sex','age','case','year'],inplace=True,ascending=True)

In [ ]:
who_melted2.reset_index(drop=True,inplace=True)

In [ ]:
who_melted2 #깔끔한 상태

~~ 이어서 하기

# 변수가 행과 열에 모두 포함되어 있는 경우 
- 공리 : 변수는 항상 칼럼에 있어야 한다

In [1]:
import pandas as pd

In [67]:
mx = pd.DataFrame([['MX17004',2010,1,'tmax','d1',None],
             ['MX17004',2010,1,'tmin','d1',None],
             ['MX17004',2010,2,'tmax','d1',None],
             ['MX17004',2010,2,'tmin','d1',None],
             ['MX17004',2010,3,'tmax','d1',None],
             ['MX17004',2010,3,'tmin','d1',None],
             ['MX17004',2010,4,'tmax','d1',None],
             ['MX17004',2010,4,'tmin','d1',None],
             ['MX17004',2010,5,'tmax','d1',None],
             ['MX17004',2010,5,'tmin','d1',None]],
            columns=['id','year','month','element','day_row','value'])
mx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       10 non-null     object
 1   year     10 non-null     int64
 2   month    10 non-null     int64
 3   element  10 non-null     object
 4   day_row  10 non-null     object
 5   value    0 non-null      object
dtypes: int64(2), object(4)
memory usage: 608.0+ bytes

In [68]:
mx['day'] = mx['day_row'].str.extract('d(\d+)', expand=False)

In [69]:
mx['id'] = 'MX17004' #칼럼 값들을 '' 하나로 전부 통일시키기

In [70]:
mx[['year','month','day']] = mx[['year','month','day']].apply(lambda x:pd.to_numeric(x,errors='ignore'))
#해당 칼럼의 값들을 전부 숫자 값으로 바꿔줬다.

In [71]:
# 연, 월, 일 칼럼을 date 칼럼 하나로 합치자. 
import datetime

def create_date_from_year_month_day(row):
    return datetime.datetime(year=row["year"], month=int(row["month"]), day=row["day"])

mx["date"] = mx.apply(lambda row: create_date_from_year_month_day(row), axis=1)

#람다함수 의미 : 위 경우, 
#임의의 데이터프레임을 row로 칭한다'는 뜻이다. 그리고 axis=1 축에서 year, month, day시리즈 값들을 datetime형식으로 묶고, 
#apply()를 통해 mx데이터프레임에 적용시키는데, 그 결과값들을 ['date']라는 칼럼에 담는다. 는 의미다

In [73]:
mx.drop(['year','month','day_row','day'],axis=1, inplace=True)

In [74]:
mx_pivot = mx.pivot(index=['id','date'],columns=['element'],values='value')

In [75]:
mx_pivot.reset_index(inplace=True)

In [76]:
mx_pivot

element       id       date  tmax  tmin
0        MX17004 2010-01-01  None  None
1        MX17004 2010-02-01  None  None
2        MX17004 2010-03-01  None  None
3        MX17004 2010-04-01  None  None
4        MX17004 2010-05-01  None  None

In [81]:
type(datetime.datetime(2011,3,3))

datetime.datetime

# 5. 하나의 관측단위가 여러 파일에 나누어져 있는 경우 
- 깔끔한 데이터 공리 : 하나의 관측단위는 하나의 표에 묶여 있어야 한다

In [103]:
import re
import glob
glob.glob?# 유사한 이름 가지고 있는 파일 디렉토리 경로를 모두 가져와서 리스트로 만들어주는 모듈 & 메서드

In [104]:
name = pd.DataFrame([[1,'noah',837,'Male'],
                    [2,'alice',33,'female'],
                    [3,'bobo',55,'Male']],
                   columns=['rank', 'name','frequency','sex'])

In [206]:
name.to_csv('/Users/kibeomkim/Desktop/2014-baby-names-illinois.csv', index=False)

In [107]:
name = pd.DataFrame([[1,'ndoah',87,'Male'],
                    [2,'alicel',13,'female'],
                    [3,'boboaa',5335,'Male']],
                   columns=['rank', 'name','frequency','sex'])

In [207]:
name.to_csv('/Users/kibeomkim/Desktop/2015-baby-names-illinois.csv', index=False)

In [208]:
path = '/Users/kibeomkim/Desktop'
allFiles = glob.glob(path+'/201*-baby-names-illinois.csv')

In [209]:
allFiles

['/Users/kibeomkim/Desktop/2015-baby-names-illinois.csv',
 '/Users/kibeomkim/Desktop/2014-baby-names-illinois.csv']

In [210]:
def extract_year(string) : 
    match = re.match('.+(\d{4})',string)
    if match != None :
        return match.group(1)

frame = pd.DataFrame()
df_list = []

for file_ in allFiles : 
    df = pd.read_csv(file_)
    df.columns = map(str.lower, df.columns) #칼럼 이름에 해당하는 문자열 전부 소문자로 바꿔서 '통일' 해라 (언제나 일관성이 중요)
    df['year'] = extract_year(file_)
    df_list.append(df)

df = pd.concat(df_list, axis=0)
df

   rank    name  frequency     sex  year
0     1   ndoah         87    Male  2015
1     2  alicel         13  female  2015
2     3  boboaa       5335    Male  2015
0     1   ndoah         87    Male  2014
1     2  alicel         13  female  2014
2     3  boboaa       5335    Male  2014

# 밑에는 모두 내가 모듈 의미 알기 위해 테스트 해본 것들이다

In [142]:
df.columns=map(str.lower, df.columns) #map은 리스트의 요소를 지정된 함수로 처리해준다
#위 경우에는 문자열 전부 소문자로 바꿔라는 뜻

In [189]:
re.match('.+(\d{4})',file_).group() # ~~ 디렉토리의 + 2014(1번째 그룹)

'/Users/kibeomkim/Desktop/2014'

In [186]:
re.match('.+(\d{4})',file_).group(0) #0번째 그룹은 전체 디렉토리를 의미한다

'/Users/kibeomkim/Desktop/2014'

In [187]:
re.match('.+(\d{4})',file_).group(1)

'2014'

In [192]:
df = pd.read_csv(file_)
df.columns = map(str.lower, df.columns) #칼럼 이름에 해당하는 문자열 전부 소문자로 바꿔서 '통일' 해라 (언제나 일관성이 중요)
df['year'] = extract_year(file_) #하나의 칼럼에 모든 값 extract_year(file_)에서 떼온 문자열로 통일

# tidy data 깔끔한 데이터 기본 공리 
- 변수는 모두 칼럼에 들어가야한다.(변수는 row에 들어가선 안 된다)
- 각 표에는 하나의 관측단위만 들어가야 한다. (=같은 관측단위(song, rank등)라면 하나의 표로 합쳐져야 한다.
- 표가 여럿으로 나뉘었을 때는 표 사이에 적어도 하나의 칼럼을 공유해야 한다. 
- 표의 모든 내용은 일관성을 유지해야 한다. (정수면 정수만 표기하기. 실수 표기 하지 않기)
- null은 최대한 지양하자
- 변수는 언제나 'unique' 해야한다. (칼럼 이름은 언제나 하나의 변수값만 담고 있어야 한다)