In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [11]:
df = pd.read_csv('c://bd092_data/BankPersonalLoan.csv')
df.head()
df.drop(['ID', 'Experience', 'ZIP Code'], axis=1, inplace=True)
df.info()
df['Age'] = df['Age'].astype('float64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   int64
 1   Income              5000 non-null   int64
 2   Family              5000 non-null   int64
 3   CCAvg               5000 non-null   float64
 4   Education           5000 non-null   int64
 5   Mortgage            5000 non-null   int64
 6   Personal Loan       5000 non-null   int64
 7   Securities Account  5000 non-null   int64
 8   CD Account          5000 non-null   int64
 9   Online              5000 non-null   int64
 10  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(10)
memory usage: 429.8 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   float64
 1   Income              5000 non-null   int64
 2   Family              5000 non-null   int64
 3   CCAvg               5000 non-null   float64
 4   Education           5000 non-null   int64
 5   Mortgage            5000 non-null   int64
 6   Personal Loan       5000 non-null   int64
 7   Securities Account  5000 non-null   int64
 8   CD Account          5000 non-null   int64
 9   Online              5000 non-null   int64
 10  CreditCard          5000 non-null   int64
dtypes: float64(2), int64(9)
memory usage: 429.8 KB

In [15]:
df['Age'] = df['Age'].astype('int64')
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   int64
 1   Income              5000 non-null   int64
 2   Family              5000 non-null   int64
 3   CCAvg               5000 non-null   float64
 4   Education           5000 non-null   int64
 5   Mortgage            5000 non-null   int64
 6   Personal Loan       5000 non-null   int64
 7   Securities Account  5000 non-null   int64
 8   CD Account          5000 non-null   int64
 9   Online              5000 non-null   int64
 10  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(10)
memory usage: 429.8 KB

,Age,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,45.338400,73.774200,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,11.463166,46.033729,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,23.000000,8.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,35.000000,39.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,45.000000,64.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,55.000000,98.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,67.000000,224.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [16]:
df.isnull().sum()

Age                   0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [22]:
df.head()
x = df.drop('Personal Loan', axis=1)
y = df['Personal Loan']
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1, stratify=y)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)
#표준화 과정 추가하기 
stdsc = StandardScaler()
x_train.iloc[:, :] = stdsc.fit_transform(x_train.iloc[:,:])
x_test.iloc[:,:] = stdsc.transform(x_test.iloc[:,:])

(3500, 10) (1500, 10) (3500,) (1500,)

C:\Users\Ki beom kim\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\Ki beom kim\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [44]:
# 머신러닝 방식 로지스틱 회귀분석
logistic_m = LogisticRegression(solver='liblinear', penalty='l2', C=0.001, random_state=1)
logistic_m.fit(x_train, y_train)

LogisticRegression(C=0.001, random_state=1, solver='liblinear')

In [45]:
#모델 성능 테스트
y_pred = logistic_m.predict(x_test)
y_pred
y_pred_p = logistic_m.predict_proba(x_test)# x_test가 0 또는 1로 분류될 각각 확률은?
y_pred_p

array([[0.50015568, 0.49984432],
       [0.68225665, 0.31774335],
       [0.75778252, 0.24221748],
       ...,
       [0.59747518, 0.40252482],
       [0.754274  , 0.245726  ],
       [0.54251828, 0.45748172]])

In [48]:
#y_pred랑 실제값 y_test랑 얼마나 일치하고, 불일치 하는지 확인하기 
#정오분류표 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

confmat = pd.DataFrame(confusion_matrix(y_test, y_pred))
confmat

      0   1
0  1337  19
1    82  62

In [59]:
#정오분류표 내용 텍스트로 바꾸기 
cat = (y_test != y_pred).sum()
dog = y_test.count()
ele = cat/dog


print('오분류 갯수 : %s' %(y_test!=y_pred).sum())
print('오분류 확률 : %.3f' %ele)
print('정확도 : %.3f' %accuracy_score(y_test, y_pred)) # x_test와 y_pred가 일치할 확률
print((1337+62)/1500)

오분류 갯수 : 101
오분류 확률 : 0.067
정확도 : 0.933
0.9326666666666666

# 의사결정 나무 분석