# 201543122 김기범 _실습과제 2

In [42]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, f1_score

In [7]:
df = pd.read_csv('c://bd092_data/german_credit.csv')
df.head(n=5)
df.info() #AGE에 null값 발견
df.isnull().sum()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DURATION  1000 non-null   int64
 1   AMOUNT    1000 non-null   int64
 2   AGE       996 non-null    float64
 3   JOB       1000 non-null   int64
 4   RESPONSE  1000 non-null   int64
dtypes: float64(1), int64(4)
memory usage: 39.2 KB

   DURATION  AMOUNT   AGE  JOB  RESPONSE
0         6    1169  67.0    2         1
1        48    5951  22.0    2         0
2        12    2096  49.0    1         1
3        42    7882  45.0    2         1
4        24    4870  53.0    2         0

In [8]:
df.describe()

          DURATION        AMOUNT         AGE          JOB     RESPONSE
count  1000.000000    1000.00000  996.000000  1000.000000  1000.000000
mean     20.903000    3698.76600   35.574297     1.904000     0.700000
std      12.058814    8798.52345   11.388238     0.653614     0.458487
min       4.000000       7.00000   19.000000     0.000000     0.000000
25%      12.000000    1365.50000   27.000000     2.000000     0.000000
50%      18.000000    2321.50000   33.000000     2.000000     1.000000
75%      24.000000    3981.75000   42.000000     2.000000     1.000000
max      72.000000  222515.00000   75.000000     3.000000     1.000000

In [15]:
#age null값 평균값으로 대체하기 
df['AGE'] = df['AGE'].fillna(df['AGE'].mean())
df.head()
df.describe()
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DURATION  1000 non-null   int64
 1   AMOUNT    1000 non-null   int64
 2   AGE       1000 non-null   float64
 3   JOB       1000 non-null   int64
 4   RESPONSE  1000 non-null   int64
dtypes: float64(1), int64(4)
memory usage: 39.2 KB

DURATION    0
AMOUNT      0
AGE         0
JOB         0
RESPONSE    0
dtype: int64

In [20]:
# x, y 데이터 나누기
x = df.drop('RESPONSE', axis=1)
x.head()
y = df['RESPONSE']
y.head()

0    1
1    0
2    1
3    1
4    0
Name: RESPONSE, dtype: int64

In [22]:
# train과 test 데이터 나누기 
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=1, stratify=y)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(700, 4) (300, 4) (700,) (300,)

In [24]:
#logistic model에 넣고 모델 만들기 
mc_model = LogisticRegression(solver='liblinear', penalty='l2', C=0.001, random_state=1)
mc_model.fit(x_train, y_train)

LogisticRegression(C=0.001, random_state=1, solver='liblinear')

In [27]:
y_pred = mc_model.predict(x_test)
mc_model.score(x_test, y_test) #모델 예측 정확도

0.7033333333333334

In [36]:
y_pred_p = mc_model.predict_proba(x_test)
y_pred_p

array([[0.27042779, 0.72957221],
       [0.25280707, 0.74719293],
       [0.10925909, 0.89074091],
       [0.3748298 , 0.6251702 ],
       [0.33576503, 0.66423497],
       [0.27382086, 0.72617914],
       [0.19734485, 0.80265515],
       [0.36049169, 0.63950831],
       [0.24519401, 0.75480599],
       [0.37696818, 0.62303182],
       [0.38371601, 0.61628399],
       [0.38183504, 0.61816496],
       [0.3176861 , 0.6823139 ],
       [0.29449764, 0.70550236],
       [0.1646728 , 0.8353272 ],
       [0.32354642, 0.67645358],
       [0.3972223 , 0.6027777 ],
       [0.39915013, 0.60084987],
       [0.20085527, 0.79914473],
       [0.44226836, 0.55773164],
       [0.1934408 , 0.8065592 ],
       [0.41934191, 0.58065809],
       [0.12856859, 0.87143141],
       [0.21180622, 0.78819378],
       [0.14078497, 0.85921503],
       [0.2324621 , 0.7675379 ],
       [0.20065483, 0.79934517],
       [0.47235027, 0.52764973],
       [0.17918518, 0.82081482],
       [0.59034342, 0.40965658],
       [0.46306793, 0.53693207],
       [0.22800878, 0.77199122],
       [0.45324954, 0.54675046],
       [0.33289782, 0.66710218],
       [0.18509108, 0.81490892],
       [0.2095521 , 0.7904479 ],
       [0.35109221, 0.64890779],
       [0.1636063 , 0.8363937 ],
       [0.36210033, 0.63789967],
       [0.40382511, 0.59617489],
       [0.55451262, 0.44548738],
       [0.34667537, 0.65332463],
       [0.25657962, 0.74342038],
       [0.37394406, 0.62605594],
       [0.31243971, 0.68756029],
       [0.37537825, 0.62462175],
       [0.33490121, 0.66509879],
       [0.30105438, 0.69894562],
       [0.10688026, 0.89311974],
       [0.49827854, 0.50172146],
       [0.25387046, 0.74612954],
       [0.24005069, 0.75994931],
       [0.28917878, 0.71082122],
       [0.22736398, 0.77263602],
       [0.39836257, 0.60163743],
       [0.19133069, 0.80866931],
       [0.21285149, 0.78714851],
       [0.09583099, 0.90416901],
       [0.44124468, 0.55875532],
       [0.30779249, 0.69220751],
       [0.58228237, 0.41771763],
       [0.30451776, 0.69548224],
       [0.30889443, 0.69110557],
       [0.30686963, 0.69313037],
       [0.46185562, 0.53814438],
       [0.15030912, 0.84969088],
       [0.23294898, 0.76705102],
       [0.0630328 , 0.9369672 ],
       [0.22824257, 0.77175743],
       [0.31071996, 0.68928004],
       [0.32359922, 0.67640078],
       [0.31369696, 0.68630304],
       [0.39237929, 0.60762071],
       [0.33452852, 0.66547148],
       [0.19376302, 0.80623698],
       [0.32862447, 0.67137553],
       [0.31924086, 0.68075914],
       [0.36872853, 0.63127147],
       [0.50462387, 0.49537613],
       [0.36863245, 0.63136755],
       [0.24181459, 0.75818541],
       [0.36936613, 0.63063387],
       [0.39062985, 0.60937015],
       [0.32868177, 0.67131823],
       [0.43379614, 0.56620386],
       [0.21589254, 0.78410746],
       [0.34099179, 0.65900821],
       [0.37272956, 0.62727044],
       [0.39170109, 0.60829891],
       [0.36818622, 0.63181378],
       [0.08128969, 0.91871031],
       [0.48354206, 0.51645794],
       [0.26450641, 0.73549359],
       [0.7127544 , 0.2872456 ],
       [0.17397975, 0.82602025],
       [0.22851277, 0.77148723],
       [0.38261761, 0.61738239],
       [0.30250943, 0.69749057],
       [0.16844093, 0.83155907],
       [0.43218226, 0.56781774],
       [0.41408393, 0.58591607],
       [0.23933069, 0.76066931],
       [0.28374635, 0.71625365],
       [0.29440336, 0.70559664],
       [0.29306156, 0.70693844],
       [0.39741862, 0.60258138],
       [0.2139303 , 0.7860697 ],
       [0.33173186, 0.66826814],
       [0.35051314, 0.64948686],
       [0.38864628, 0.61135372],
       [0.41736345, 0.58263655],
       [0.27048121, 0.72951879],
       [0.46102371, 0.53897629],
       [0.23441792, 0.76558208],
       [0.25738338, 0.74261662],
       [0.3984393 , 0.6015607 ],
       [0.14553508, 0.85446492],
       [0.22723873, 0.77276127],
       [0.21248932, 0.78751068],
       [0.34114459, 0.65885541],
       [0.08390591, 0.91609409],
       [0.25942799, 0.74057201],
       [0.27150932, 0.72849068],
       [0.45307816, 0.54692184],
       [0.6181884 , 0.3818116 ],
       [0.34521624, 0.65478376],
       [0.32003148, 0.67996852],
       [0.29847663, 0.70152337],
       [0.41909093, 0.58090907],
       [0.32803725, 0.67196275],
       [0.22194304, 0.77805696],
       [0.26235616, 0.73764384],
       [0.23589279, 0.76410721],
       [0.38597488, 0.61402512],
       [0.37363747, 0.62636253],
       [0.46899861, 0.53100139],
       [0.3452592 , 0.6547408 ],
       [0.2792691 , 0.7207309 ],
       [0.61205502, 0.38794498],
       [0.4873377 , 0.5126623 ],
       [0.48108202, 0.51891798],
       [0.31375135, 0.68624865],
       [0.39337613, 0.60662387],
       [0.15866202, 0.84133798],
       [0.32815788, 0.67184212],
       [0.19386911, 0.80613089],
       [0.13376398, 0.86623602],
       [0.20688448, 0.79311552],
       [0.38430539, 0.61569461],
       [0.23888932, 0.76111068],
       [0.4139961 , 0.5860039 ],
       [0.48698675, 0.51301325],
       [0.48531002, 0.51468998],
       [0.27622091, 0.72377909],
       [0.23874279, 0.76125721],
       [0.29899392, 0.70100608],
       [0.22081508, 0.77918492],
       [0.44043928, 0.55956072],
       [0.43347385, 0.56652615],
       [0.46015598, 0.53984402],
       [0.37664734, 0.62335266],
       [0.24798767, 0.75201233],
       [0.29208748, 0.70791252],
       [0.35010271, 0.64989729],
       [0.29540857, 0.70459143],
       [0.20920594, 0.79079406],
       [0.35913935, 0.64086065],
       [0.26194312, 0.73805688],
       [0.34876286, 0.65123714],
       [0.36516768, 0.63483232],
       [0.27912815, 0.72087185],
       [0.34493261, 0.65506739],
       [0.30075406, 0.69924594],
       [0.30205542, 0.69794458],
       [0.355412  , 0.644588  ],
       [0.30183709, 0.69816291],
       [0.35179345, 0.64820655],
       [0.21616704, 0.78383296],
       [0.25427853, 0.74572147],
       [0.45455474, 0.54544526],
       [0.49139634, 0.50860366],
       [0.32689671, 0.67310329],
       [0.38507771, 0.61492229],
       [0.27850676, 0.72149324],
       [0.30579502, 0.69420498],
       [0.37497695, 0.62502305],
       [0.23676775, 0.76323225],
       [0.3325557 , 0.6674443 ],
       [0.3816297 , 0.6183703 ],
       [0.5363972 , 0.4636028 ],
       [0.36521982, 0.63478018],
       [0.32028365, 0.67971635],
       [0.24939526, 0.75060474],
       [0.19197455, 0.80802545],
       [0.20223107, 0.79776893],
       [0.09277285, 0.90722715],
       [0.61510417, 0.38489583],
       [0.37742357, 0.62257643],
       [0.34239538, 0.65760462],
       [0.15128641, 0.84871359],
       [0.22650769, 0.77349231],
       [0.3141862 , 0.6858138 ],
       [0.447214  , 0.552786  ],
       [0.38691439, 0.61308561],
       [0.32070194, 0.67929806],
       [0.38086416, 0.61913584],
       [0.27426013, 0.72573987],
       [0.38030741, 0.61969259],
       [0.402416  , 0.597584  ],
       [0.28820917, 0.71179083],
       [0.35526524, 0.64473476],
       [0.26472443, 0.73527557],
       [0.37593804, 0.62406196],
       [0.44010871, 0.55989129],
       [0.28431694, 0.71568306],
       [0.24763017, 0.75236983],
       [0.25641705, 0.74358295],
       [0.24627635, 0.75372365],
       [0.10585152, 0.89414848],
       [0.29620894, 0.70379106],
       [0.34265554, 0.65734446],
       [0.35117376, 0.64882624],
       [0.2309595 , 0.7690405 ],
       [0.15448211, 0.84551789],
       [0.67772683, 0.32227317],
       [0.26110612, 0.73889388],
       [0.22820274, 0.77179726],
       [0.2568228 , 0.7431772 ],
       [0.42626847, 0.57373153],
       [0.40502039, 0.59497961],
       [0.34079858, 0.65920142],
       [0.2194902 , 0.7805098 ],
       [0.2924469 , 0.7075531 ],
       [0.21863088, 0.78136912],
       [0.48967092, 0.51032908],
       [0.14248089, 0.85751911],
       [0.12892658, 0.87107342],
       [0.51691682, 0.48308318],
       [0.36396329, 0.63603671],
       [0.38275693, 0.61724307],
       [0.39265493, 0.60734507],
       [0.36359876, 0.63640124],
       [0.45949805, 0.54050195],
       [0.32343229, 0.67656771],
       [0.1372486 , 0.8627514 ],
       [0.36408637, 0.63591363],
       [0.24183951, 0.75816049],
       [0.25232501, 0.74767499],
       [0.29766973, 0.70233027],
       [0.27396086, 0.72603914],
       [0.2512408 , 0.7487592 ],
       [0.22869654, 0.77130346],
       [0.27506845, 0.72493155],
       [0.07781473, 0.92218527],
       [0.32770193, 0.67229807],
       [0.52106585, 0.47893415],
       [0.26435001, 0.73564999],
       [0.23983476, 0.76016524],
       [0.32861858, 0.67138142],
       [0.3256552 , 0.6743448 ],
       [0.32127079, 0.67872921],
       [0.16085921, 0.83914079],
       [0.47197926, 0.52802074],
       [0.3614412 , 0.6385588 ],
       [0.41543293, 0.58456707],
       [0.25245204, 0.74754796],
       [0.1825509 , 0.8174491 ],
       [0.27434181, 0.72565819],
       [0.46824785, 0.53175215],
       [0.27486239, 0.72513761],
       [0.22459445, 0.77540555],
       [0.47045056, 0.52954944],
       [0.32573222, 0.67426778],
       [0.37532059, 0.62467941],
       [0.5232149 , 0.4767851 ],
       [0.40238473, 0.59761527],
       [0.2318839 , 0.7681161 ],
       [0.29528217, 0.70471783],
       [0.40828381, 0.59171619],
       [0.13254883, 0.86745117],
       [0.17729815, 0.82270185],
       [0.25703384, 0.74296616],
       [0.40224876, 0.59775124],
       [0.30730254, 0.69269746],
       [0.45849099, 0.54150901],
       [0.31222771, 0.68777229],
       [0.41247985, 0.58752015],
       [0.43801471, 0.56198529],
       [0.3502589 , 0.6497411 ],
       [0.32816191, 0.67183809],
       [0.41778296, 0.58221704],
       [0.34953046, 0.65046954],
       [0.29449882, 0.70550118],
       [0.25964501, 0.74035499],
       [0.30111347, 0.69888653],
       [0.35795288, 0.64204712],
       [0.40316434, 0.59683566],
       [0.36008949, 0.63991051],
       [0.33671156, 0.66328844],
       [0.10146839, 0.89853161]])

In [38]:
confmat = pd.DataFrame(confusion_matrix(y_test, y_pred))
confmat

   0    1
0  7   83
1  6  204

In [43]:
#confusion matrix 결과를 보기편하게 옮기기
print('오분류 갯수 : %d' %(y_test != y_pred).sum())
print('분류 정확도 : %.3f' %accuracy_score(y_test, y_pred))
print('f_score : %.3f' %f1_score(y_test, y_pred))

오분류 갯수 : 89
분류 정확도 : 0.703
f_score : 0.821

#모델 분류 정확도가 상당히 낮다. 
#최적화를 통해서 정확도를 끌어올리자.

In [72]:
#GridSearchCV 함수로 모델 분류 정확도 가장 높게 올려주는 최적 옵션 찾기 
#최적화
from sklearn.pipeline import make_pipeline, Pipeline

logit_m = make_pipeline(LogisticRegression())
logit_m.get_params().keys()

dict_keys(['memory', 'steps', 'verbose', 'logisticregression', 'logisticregression__C', 'logisticregression__class_weight', 'logisticregression__dual', 'logisticregression__fit_intercept', 'logisticregression__intercept_scaling', 'logisticregression__l1_ratio', 'logisticregression__max_iter', 'logisticregression__multi_class', 'logisticregression__n_jobs', 'logisticregression__penalty', 'logisticregression__random_state', 'logisticregression__solver', 'logisticregression__tol', 'logisticregression__verbose', 'logisticregression__warm_start'])

In [77]:
from sklearn.model_selection import GridSearchCV

param_range1 = ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']
param_range2 = [-3,3,7]
param_range3 = ['l1', 'l2', 'elasticnet', 'none']

param_grid = [{'logisticregression__solver': param_range1,
              'logisticregression__C' : param_range2,
              'logisticregression__penalty': param_range3}]

clf_cv = GridSearchCV(estimator = logit_m,
                     param_grid = param_grid,
                     scoring='accuracy',
                     n_jobs = -1,
                     cv = 5)
clf_cv.fit(x_train, y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('logisticregression',
                                        LogisticRegression())]),
             n_jobs=-1,
             param_grid=[{'logisticregression__C': [-3, 3, 7],
                          'logisticregression__penalty': ['l1', 'l2',
                                                          'elasticnet',
                                                          'none'],
                          'logisticregression__solver': ['newton-cg', 'lbfgs',
                                                         'liblinear', 'sag',
                                                         'saga']}],
             scoring='accuracy')

In [78]:
print(clf_cv.best_score_)
print(clf_cv.best_params_)

0.72
{'logisticregression__C': 3, 'logisticregression__penalty': 'l2', 'logisticregression__solver': 'lbfgs'}

In [63]:
mc_model1 = LogisticRegression(solver='lbfgs', penalty='l2', C=3, random_state=1)
mc_model1.fit(x_train, y_train)

LogisticRegression(C=3, random_state=1)

In [64]:
y_pred = mc_model1.predict(x_test)
mc_model1.score(x_test, y_test)

0.71

In [68]:
confmat = pd.DataFrame(confusion_matrix(y_test, y_pred))
confmat

   0    1
0  9   81
1  6  204

In [71]:
print('오분류 갯수 : %d' %(y_test !=y_pred).sum())
print('정확도 : %.3f' %accuracy_score(y_test,y_pred))
print('f1_score : %.3f' %f1_score(y_test, y_pred))

오분류 갯수 : 87
정확도 : 0.710
f1_score : 0.824