# 리스트 축약식

In [11]:
#p.118 예제
D = {1:'korea', 2:'japan', 3:'china', 4:'usa'}
[i.upper() for i in D.values()]

['KOREA', 'JAPAN', 'CHINA', 'USA']

# for 문 , 리스트 축약식

In [12]:
#도전하기 01. 
sum = 0
for i in range(1, 11) : 
    if i%2 == 0 : 
        sum += i
print(f'1~10까지의 짝수의 합은 {sum}입니다.')

1~10까지의 짝수의 합은 30입니다.

In [13]:
#02. 
fruit = ['Apple', 'Orange', 'Banana']
for i in fruit : 
    print(i, end=' ')

Apple Orange Banana

In [16]:
#03. 
fruit_price = {'Apple':500, 'Banana':800, 'Orange':900}
for a, b in fruit_price.items() : 
    print(a, b)

Apple 500
Banana 800
Orange 900

In [33]:
#04. 
import random

list1 = []
for i in range(1, 11) : 
    ran = random.randrange(1, 11)
    list1.append(ran)
print(list1)
for i in list1 : 
    if i%2 == 0 : 
        print(i, end=' ')

[2, 2, 8, 9, 7, 9, 3, 10, 10, 3]
2 2 8 10 10

In [42]:
#05. 
from random import sample
result_list = []
count = int(input('로또 게임 수 입력 : '))
for i in range(1, count+1) : 
    lotto = sample(list(range(1, 46)), 6)
    print(f'{i}번째 로또 자동 번호 : {lotto}')
    result_list.extend(lotto)
    
print(f'로또 번호 리스트 {result_list}')

로또 게임 수 입력 : 3
1번째 로또 자동 번호 : [14, 21, 36, 3, 18, 29]
2번째 로또 자동 번호 : [7, 27, 33, 35, 6, 30]
3번째 로또 자동 번호 : [23, 5, 34, 1, 40, 17]
로또 번호 리스트 [14, 21, 36, 3, 18, 29, 7, 27, 33, 35, 6, 30, 23, 5, 34, 1, 40, 17]

In [43]:
#06. 
dan = int(input('단 입력 : '))
for i in range(1, 10) : 
    print(f'{dan}*{i}={dan*i}')

단 입력 : 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

In [44]:
#07. 
L = ['Apple', 'Orange', 'Banana']
for i in L : 
    print('Index : {}, Value : {}'.format(L.index(i), i))

Index : 0, Value : Apple
Index : 1, Value : Orange
Index : 2, Value : Banana

In [47]:
#08. 
n_list = []
for i in range(10) : 
    n = random.randrange(1, 100)
    n_list.append(n) #10개 난수로 구성된 난수 리스트
max = n_list[0]
min = n_list[0]
for i in range(1, 10) : 
    if max < n_list[i] : 
        max = n_list[i]
    if min > n_list[i] : 
        min = n_list[i]
print(f'난수 리스트 {n_list}')
print(f'최댓값 : {max}')
print(f'최솟값 : {min}')

난수 리스트 [68, 61, 93, 19, 40, 9, 72, 89, 88, 62]
최댓값 : 93
최솟값 : 9

In [49]:
#09. 
dan1 = int(input('첫번째 단 입력 : '))
dan2 = int(input('두번째 단 입력 : '))

for dan in [dan1, dan2] : 
    for surplus in range(1, 10) : 
        print(f'{dan}*{surplus}={dan*surplus}')
    print()

첫번째 단 입력 : 4
두번째 단 입력 : 6
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54

In [72]:
#10. 
night = []
for i in range(10) : 
    cel = random.randrange(20, 31)
    night.append(cel)
print(f'10일간의 한 밤 온도 : {night}')

tropical_night = []
count = 0
for i in night : 
    if i >= 25 : 
        tropical_night.append(i)
        count += 1
print(f'열대야 온도 : {tropical_night}')
print(f'열대야 온도 수 : {count}')
max = tropical_night[0]
for i in range(1, count) : 
    if max < tropical_night[i] : 
        max = tropical_night[i]
print(f'최고 온도 : {max}')

10일간의 한 밤 온도 : [24, 22, 25, 25, 27, 20, 26, 22, 22, 29]
열대야 온도 : [25, 25, 27, 26, 29]
열대야 온도 수 : 5
최고 온도 : 29

In [109]:
#11. 버블정렬 알고리듬
r_list = []
for i in range(5) : 
    ran = random.randrange(1,11)
    r_list.append(ran)
print(f'정렬 전 : {r_list}')

for a in range(5) : 
    for b in range(a+1, 5) : 
        if r_list[a] > r_list[b] : 
            ch1 = r_list[a]
            ch2 = r_list[b]
            r_list[a] = ch2
            r_list[b] = ch1
print(f'정렬 후 : {r_list}')

정렬 전 : [5, 10, 5, 6, 2]
정렬 후 : [2, 5, 5, 6, 10]

In [93]:
#12.리스트 축약식 사용하기 
L = [1,2,3,4,5]
[i*2 for i in L]

[2, 4, 6, 8, 10]

In [95]:
#13. 
[len(a) for a in ('red', 'green', 'blue', 'white', 'black')]

[3, 5, 4, 5, 5]

In [96]:
#14. 
[i.upper() for i in {1:'korea',2:'japan',3:'china',4:'usa'}.values()]

['KOREA', 'JAPAN', 'CHINA', 'USA']

In [98]:
#15. 
[i for i in ['apple', 'orange', 'banana', 'grape'] if len(i) > 5]

['orange', 'banana']

# break와 continue

In [110]:
# 예제 1
count = 0
for i in range(1, 11) : 
    print(i)
    count += 1
    if count == 5 : 
        break

1
2
3
4
5

In [111]:
# 예제 2. 
no = 1
while no <= 10 : 
    if no%2 != 0 : 
        no += 1
        continue
    print(no)
    no += 1

2
4
6
8
10

In [129]:
#도전하기 01. 
while True : 
    try  : 
        question = input('게임을 시작하겠습니까?(y/n) : ')
        if question != 'y' and question != 'n' and question != 'Y' and question != 'N' : 
            raise ValueError
    except ValueError: 
        print('다시 입력하세요. y/n만 입력 가능합니다!')
        continue
    if question == 'n' or question == 'N' : 
        print('게임을 종료합니다.')
        break
    computer = random.randint(1, 6)
    me = random.randint(1, 6)
    print(f'computer : {computer}')
    print(f'me : {me}')
    if computer > me : 
        print('#'*100)
        print(f'computer가 더 높은 주사위 눈 나왔습니다!')
        print('#'*100)
    elif computer < me : 
        print('-'*100)
        print(f'me가 더 높은 주사위 눈 나왔습니다!')
        print('-'*100)
    else : 
        print(f'비겼네요!')

게임을 시작하겠습니까?(y/n) : y
computer : 5
me : 5
비겼네요!
게임을 시작하겠습니까?(y/n) : k
다시 입력하세요. y/n만 입력 가능합니다!
게임을 시작하겠습니까?(y/n) : y
computer : 5
me : 6
----------------------------------------------------------------------------------------------------
me가 더 높은 주사위 눈 나왔습니다!
----------------------------------------------------------------------------------------------------
게임을 시작하겠습니까?(y/n) : n
게임을 종료합니다.

In [121]:
#02. 
while True : 
    number = int(input('숫자 입력하세요 : '))
    if number%3 != 0 : 
        print('입력한 값 {}는 3의 배수가 아닙니다'.format(number))
    elif number%3 == 0 : 
        print('입력한 값 {}는 3의 배수입니다'.format(number))
        break

숫자 입력하세요 : 5
입력한 값 5는 3의 배수가 아닙니다
숫자 입력하세요 : 4
입력한 값 4는 3의 배수가 아닙니다
숫자 입력하세요 : 3
입력한 값 3는 3의 배수입니다

In [126]:
#03. 
for i in range(1, 11) : 
    if i%3 != 0 : 
        print(i, end=' ')
    else : 
        continue

1 2 4 5 7 8 10