매핑타입 자료구조_딕셔너리

In [3]:
d = {'a':1}
d.setdefault('c',3)

3

In [5]:
d.setdefault('a',8)

1

# defaultdict() : 기본값이 미리 지정된 딕셔너리 객체 생성하는 class

In [24]:
from collections import defaultdict

d = defaultdict()
a = defaultdict(float, a=[1,2,3])
a['b']

0.0

# defaultdict()로 기본값 유형 설정해주면 원래 없던 key들어왔을 때 key error 대신
# 기본값과 매핑시켜 준다.

In [31]:
#예
d = defaultdict(int, c=[1,2,3])
d['A']
print(d)

defaultdict(<class 'int'>, {'c': [1, 2, 3], 'A': 0})

In [40]:
d1 = defaultdict(str, asdf=32)
d1['asdf']=33 #할당된 기본값 바꿀수 있다.

In [43]:
d1['c']
d1

defaultdict(str, {'asdf': 33, 'c': ''})

In [44]:
dict(d1)

{'asdf': 33, 'c': ''}

In [58]:
s = ['a','b','c','d','e']
d2 = defaultdict(int, aaaaa='가나다') # 기본값 자료형은 int, aaa라는 key 기본값은 '가나다'
a = 0

for key in s : 
    d2[key]+=a
    a+= 2
print(dict(d2))

{'aaaaa': '가나다', 'a': 0, 'b': 2, 'c': 4, 'd': 6, 'e': 8}

In [70]:
d3 = defaultdict(list, a=['1,2'],b=['rk'])
d3['a']
d3['b']
d3['c']
dict(d3)

{'a': ['1,2'], 'b': ['rk'], 'c': []}

In [85]:
a = {}
a.setdefault('a',3)

3

# 딕셔너리이름.setdefault(key, value) 
### 특정 키에 기본값 할당해준다. 
### ++++++
# 딕셔너리 객체 이름 = defaultdict(기본값 유형, key=value)
### 기본값 유형을 정해서, 딕셔너리 안에 원래 없던 key가 호출될 때. 기본값 출력하고 딕셔너리에도 매핑시켜준다. 
### 특정 키에 기본값 할당할 수 있다.

In [92]:
dict11 = {'name':'KIM','AGE':26}
'name' in dict
'asdf' not in dict

True

# 딕셔너리 내부에는 key로만 접근 가능하다.

In [94]:
dict1 = {'AGE':26, 'name':'KIM'}
dict1 == dict11

True

# 딕셔너리는 순서가 없다. 
# 딕셔너리에 들어있는 쌍pair만 같으면 같은 딕셔너리다.

In [95]:
dict1>dict11

TypeError: '>' not supported between instances of 'dict' and 'dict'

# 딕셔너리 간 크기 비교 못 한다.

In [115]:
d = {'a':1,'b':2,'c':3}
for i in d : 
    print(i)

a
b
c

# ordereddict class
# key 순서 기억하는 딕셔너리 객체 생성

In [126]:
from collections import OrderedDict
o1 = OrderedDict({'A':1,'B':2,'C':3})
o2 = OrderedDict({'A':1,'C':3,'B':2})
o1 == o2

False

In [180]:
d = {'milk':3,'coffee':1,'tea':2}
d.update({'ㅁㄴㅇㄹ':8}) # 딕셔너리 페어 추가하거나 기존 페어 수정 
d

{'milk': 3, 'coffee': 1, 'tea': 2, 'ㅁㄴㅇㄹ': 8}

In [177]:
d.popitem()

('tea', 2)

In [230]:
d1 = OrderedDict(d)
d1.popitem(last=True) #last true 지정은 ordered dict에서만 가능하다(순서가 있으니까)

('ㅁㄴㅇㄹ', 8)

In [233]:
d1.popitem(last=True)

('coffee', 1)

In [231]:
d1

OrderedDict([('milk', 3), ('coffee', 1), ('tea', 2)])

In [240]:
# orderedict 예제 
d.update({'tea':2})

### sorted()
- Docstring:
- Return a new list containing all items from the iterable in ascending order.

- A custom key function can be supplied to customize the sort order, and the
- reverse flag can be set to request the result in descending order.
- Type:      builtin_function_or_method

In [257]:
sorted(d.items(), key = lambda x : x[0], reverse=True)
# key : 반복가능자의 각 요소를 받는 함수를 넣을 수 있다.

[('tea', 2), ('milk', 3), ('coffee', 1)]

In [271]:
a = OrderedDict(d)
a.update({'lemon':7})
a

OrderedDict([('milk', 3), ('coffee', 1), ('tea', 2), ('lemon', 7)])

In [282]:
d.update({'lemon':9})
d

{'milk': 3, 'coffee': 1, 'tea': 2, 'lemon': 9}

In [285]:
o1 = OrderedDict(sorted(d.items(), key = lambda x : x[0]))
print(o1)

OrderedDict([('coffee', 1), ('lemon', 9), ('milk', 3), ('tea', 2)])

In [287]:
o2 = OrderedDict(sorted(d.items(), key=lambda x : x[1]))
print(o2)

OrderedDict([('coffee', 1), ('tea', 2), ('milk', 3), ('lemon', 9)])

In [290]:
o3 = OrderedDict(sorted(d.items(), key=lambda x : len(x[0])))
o3

OrderedDict([('tea', 2), ('milk', 3), ('lemon', 9), ('coffee', 1)])

In [294]:
o1.update({'ll':99})
print(o1)

OrderedDict([('coffee', 1), ('lemon', 9), ('milk', 3), ('tea', 2), ('ll', 99)])

In [297]:
o1.popitem(last=True)

('milk', 3)

In [300]:
o1.popitem(last=False)

KeyError: 'dictionary is empty'

In [316]:
o1.update({'lion':9})
o1['ㅁㅁ'] = 9
o1['ㅁㅁ']=19
o1

OrderedDict([('lion', 9), ('ㅁㅁ', 19)])

In [320]:
OrderedDict(d)

OrderedDict([('milk', 3), ('coffee', 1), ('tea', 2), ('lemon', 9)])

# ordereddict는 형태만 좀 다르지 일반 딕셔너리랑 같게 동작한다. 
### 순서 기억한다는 것만 다르다. 
### 인덱싱은 안 된다.

In [329]:
sorted(d.items(), key=lambda x : x[0])

[('coffee', 1), ('lemon', 9), ('milk', 3), ('tea', 2)]

In [358]:
a = str(d)
d2 = d.copy()

In [368]:
d2.get('lemo')

In [371]:
d2.items()

dict_items([('milk', 3), ('coffee', 1), ('tea', 2), ('lemon', 9)])

# 시퀀스 이용해서 매핑(딕셔너리) 만들기

In [3]:
list1 = [1000,2000,3000]
list2 = ['A','B','C']
dict1 = dict(zip(list1, list2))
print(dict1)

{1000: 'A', 2000: 'B', 3000: 'C'}

In [5]:
dict2 = {key : None for key in list2}
print(dict2)

{'A': None, 'B': None, 'C': None}

In [28]:
{k for k in [1,2,3,4]}

{1, 2, 3, 4}

In [15]:
dict2 = dict(zip(list2, [None]*3))
dict2

{'A': None, 'B': None, 'C': None}

# 매핑 이용해서 시퀀스 만들기

In [25]:
list3 = dict1.keys()
list4 = dict1.values()
list5 = dict1.items()
list6 = list(dict1.keys())
list7 = list(dict1.values())
print(list3);print(list4);print(list5);print(list6);print(list7)

dict_keys([1000, 2000, 3000])
dict_values(['A', 'B', 'C'])
dict_items([(1000, 'A'), (2000, 'B'), (3000, 'C')])
[1000, 2000, 3000]
['A', 'B', 'C']

In [48]:
dict1.pop(2000)

'B'

# 딕셔너리 메서드 & 함수

In [112]:
dict1 = {'Name':'KIM','AGE':26}
len(dict1)

dict1.get('AGE')

26

In [61]:
print(list(dict1.items()))
print(list(dict1.keys()))
print(list(dict1.values()))

[('Name', 'KIM'), ('AGE', 26)]
['Name', 'AGE']
['KIM', 26]

In [66]:
dict2 = {'sex':'female'}
dict1.update(dict2) # 페어 추가 
dict1

{'Name': 'KIM', 'AGE': 26, 'sex': 'female'}

In [70]:
str(dict1)

"{'Name': 'KIM', 'AGE': 26, 'sex': 'female'}"

In [71]:
dict1.popitem()

('sex', 'female')

In [74]:
dict1.pop('AGE')

26

In [75]:
dict1.clear()

In [76]:
dict1

{}

In [88]:
dict1 = {'Name': 'KIM','AGE':38}
for key in dict1 : 
    print(f'{key}:{dict1[key]}')

Name:KIM
AGE:38

In [89]:
dict1.pop('AGE')

38

In [97]:
list1 = [1,2,3]
list1.pop(0)

1

In [101]:
dict1.update({'age':99})

# 리스트와 딕셔너리 중첩

In [114]:
student = [
    {'Name':'KIM','AGE':89}, #개체1
    {'Name':'PARK','AGE':88}, #개체 2
    {'Name':'SHIN','AGE':77} #개체 3
]
print(student)

[{'Name': 'KIM', 'AGE': 89}, {'Name': 'PARK', 'AGE': 88}, {'Name': 'SHIN', 'AGE': 77}]

In [115]:
for s in student : 
    print(s)

{'Name': 'KIM', 'AGE': 89}
{'Name': 'PARK', 'AGE': 88}
{'Name': 'SHIN', 'AGE': 77}

In [121]:
import pprint
pprint.pprint(student)

[{'AGE': 89, 'Name': 'KIM'},
 {'AGE': 88, 'Name': 'PARK'},
 {'AGE': 77, 'Name': 'SHIN'}]

In [133]:
a = {'b':3,'z':8,'s':0}
pprint.pprint(a)

{'b': 3, 's': 0, 'z': 8}

# frozenset은 변경 불가능하다

In [159]:
frozenset([1,2,3])

frozenset({1, 2, 3})

In [157]:
a = set([1,2,3])
a.add(9)
a

{1, 2, 3, 9}

### 예제

In [162]:
set1 = set({'key1','key2','key3','key4'})
set1

{'key1', 'key2', 'key3', 'key4'}

In [163]:
set(range(0,10,2))

{0, 2, 4, 6, 8}

In [165]:
set(range(1,10,2))

{1, 3, 5, 7, 9}

In [169]:
set([1,1,1,1,1,1,1,1,1,1,1,1,1,9]) # 중복 허용 안 된다.

{1, 9}

In [189]:
s1 = {1,2,3}
s2 = {1,2,3,8}
s1 < s2 # s1은 s2의 진부분집합이다.

True

# $s1<s2$를 만족하는 건, $s2$의 진부분집합 뿐이다.

# $s1 <= s2$를 만족하는 건, $s2$의 모든 부분집합이다

# 교집합.합집합.차집합.대칭차집합

In [193]:
set2 = set({'key1','key4'})
set1-set2 # 차집합

{'key2', 'key3'}

In [197]:
#교집합
print(set1&set2); print(set1.intersection(set2))

{'key4', 'key1'}
{'key4', 'key1'}

In [199]:
# 합집합
print(set1.union(set2))

{'key4', 'key3', 'key2', 'key1'}

In [200]:
# 대칭 차집합
print(set1^set2)

{'key3', 'key2'}

# 집합_원소 소속검사

In [204]:
set1
'key1' in set1

True

In [205]:
'lion'in set1

False

# 집합 메서드

In [234]:
print(set1);print(set2)

{'key2', 'key1', 'key4', 'key3'}
{'key4', 'key1'}

In [214]:
set1.add(9) # 원소 한번에 하나만 추가 가능

In [220]:
set1.discard(9)

In [223]:
set1

{'key1', 'key2', 'key3', 'key4'}

In [226]:
set1.symmetric_difference(set2) # 대칭차집합

{'key2', 'key3'}

In [228]:
# set1이 set2의 부분집합인가? 
set1.issubset(set2) # 아니다.

False

In [246]:
set1.issuperset(set2)
set3 = {'key2', 'key1', 'key99', 'key3'}
set1.discard('key9')
set3.issuperset(set1)

False

In [247]:
set1.isdisjoint(set2)

False

In [250]:
set1.add('key99')
set1.remove('key99')

# set 자료구조 정렬하기

In [268]:
set1_1 = set(sorted(set1))
set1_1

{'key1', 'key2', 'key3', 'key4'}

# all & any() 함수
- all : 모두 다 true 일 때 true. (빈 반복자 true)
- any : true 하나라도 있으면 true. (빈 반복자 false)
- false 되는 경우 : 0 또는 ''공백문자열

In [271]:
set2 = {1,1,0,1,1,10}
any(set2) # 0 또는 공백 문자열 이외에 하나라도 있으면 true

True

In [272]:
all(set2)

False

In [273]:
set3 = {}
any(set3)

False

In [274]:
all(set3)

True

In [279]:
set4 = {'',0}
all(set4)
any(set4)

False

In [282]:
set4 = {'',0,8}
all(set4)
any(set4)

True

In [287]:
sorted(set2, key = lambda x : x+2, reverse=True)

[10, 1, 0]

In [298]:
from collections import OrderedDict
a = OrderedDict({'a':1,'b':2,'c':4})
a.pop('a')

1

In [302]:
a.update({'lemon':9})
a

OrderedDict([('b', 2), ('c', 4), ('lemon', 9)])

In [303]:
a.pop('b')

2

In [304]:
a

OrderedDict([('c', 4), ('lemon', 9)])

In [311]:
d = {'milk':3,'cappu':1,'coffee':9,'tea':8}
dict(sorted(d.items(), key = lambda x : x[0]))

{'cappu': 1, 'coffee': 9, 'milk': 3, 'tea': 8}